* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-color: #fe8239;
  --main-light: #fde9d7;
  --black: #11100c;
  --main-dark: #e94727;
  --secondary: #c4b1a6;
  --highlight-color: #2e266f;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #2e266f83;
  background-color: var(--main-light);
  /* padding-top: 8rem; */
}

h1 {
  font-size: clamp(2rem, 10vw, 4rem);
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: var(--highlight-color);
  font-weight: 800;
}

h2 {
  font-size: clamp(2rem, 10vw, 3rem);
}
.holder {
  width: 85%;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}
.grid .col-6 {
  grid-column: span 6;
}

.grid .col-7 {
  grid-column: span 7;
}

.grid .col-5 {
  grid-column: span 5;
}

.grid .col-4 {
  grid-column: span 4;
}

.grid .col-3 {
  grid-column: span 3;
}

img {
  width: 100%;
  height: auto;
}
#header {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 199;
  background-color: var(--main-light);
}
#header .holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #header-img {
  width: 140px;
}
#header .nav-elements-holder {
  display: inline-flex;
  list-style-type: none;
}
#header .nav-items:not(:last-child) {
  margin-right: 1.5rem;
}

#header .nav-link {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--highlight-color);
  transition: color 0.2s linear;
  position: relative;
  background-color: var(--main-color);
}
#header .nav-link::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  bottom: -5px;
  transition: width 0.2s linear;
}
#header .nav-link:hover {
  color: var(--main-color);
  background-color: var(--main-dark);
}

#header .nav-link:hover::before {
  width: 100%;
}
/* landing */

#landing {
  padding: 3rem 0;
}

#landing .intro span:nth-child(1) {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--main-color);
  font-weight: 500;
}
#landing .intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#landing .intro h1 {
  color: var(--highlight-color);
}

#landing .intro p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
#landing .cta-holder {
  padding: 2rem;
  overflow: hidden;
  transform: translate(-2rem, -2rem);
  margin-top: 2rem;
}

#landing .cta-holder span {
  color: var(--highlight-color);
}

#landing .intro .button-cta {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: 500;
  background-color: var(--main-color);
  border-radius: 3rem;
  position: relative;
  margin-right: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#landing .intro .button-cta::before,
#landing .intro .button-cta::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 3rem;
  top: 0;
  left: 0;
  z-index: -1;
  animation: wave 2s ease-in-out infinite;
}

#landing .intro .button-cta::before {
  animation-delay: 0.5s;
}
#landing .image-holder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing .image-holder img {
  width: 100%;
  height: auto;
}

#landing .offer {
  position: absolute;
  background-color: var(--highlight-color);
  top: 0;
  right: 0;
  color: #fff;
  padding: 1.5rem;
  border-radius: 2rem 0 2rem 0;
  box-shadow: 0 10px 30px #2e266f5e;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
#landing .product-details {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  padding: 1.5rem 1rem;
  color: #fff;
  width: max-content;
  border-radius: 0 2rem 0 2rem;
  box-shadow: 0 10px 20px #fe81396b;
  animation: float-right 5s ease-in-out infinite;
}

#landing .image-holder .offer {
  animation: float-left 5s ease-in-out infinite;
}

#showcase {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--main-dark);
  color: #fff;
}

#showcase .showcase-item {
  display: flex;
  justify-content: start;
  align-items: center;
}

#showcase .showcase-item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.349);
}

#showcase .showcase-item .image-holder img {
  width: 80px;
  margin-right: 1rem;
}

#showcase .showcase-item:nth-child(2) .image-holder img {
  transform: scale(0.9);
}

#showcase .showcase-item:nth-child(3) .image-holder img {
  filter: drop-shadow(-2px 2px 3px rgb(29, 29, 29));
}

#showcase .showcase-item .desc span {
  font-size: 0.6rem;
}

#showcase .showcase-item .desc p {
  font-size: 1.5rem;
}
#landing,
#about,
#services,
#menu,
#video-yt {
  padding: 8rem 0;
}

#about .image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .about-desc span {
  font-size: 0.9rem;
  color: var(--main-color);
  font-weight: 500;
  text-transform: uppercase;
}

#about .about-desc h2 {
  margin: 0.8rem 0;
  text-transform: capitalize;
  line-height: 1.2;
}

#about .about-desc p {
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

#services h2,
#menu h2 {
  text-transform: capitalize;
  margin-bottom: 2rem;
  position: relative;
}

#services h2::after,
#menu h2::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 2px;
  font-size: 3.5rem;
  left: 0;
  bottom: -15px;
  background-color: var(--main-color);
  z-index: -1;
}

#services .grid,
#menu .grid {
  padding-top: 3rem;
}

#services .card:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(141, 141, 141, 0.212);
  transform: scale(1.1);
  -webkit-tap-highlight-color: transparent;
}

#services .card-body {
  padding: 1.25rem;
}

#services .card img {
  width: 70px;
}

#services .card h3 {
  font-size: 1.8rem;
  margin: 2rem 0;
  margin-top: 1.5rem;
  position: relative;
}

#services .card h3::before {
  position: absolute;
  content: "";
  bottom: -15px;
  width: 30%;
  height: 4px;
  border-radius: 1rem;
  background-color: var(--main-color);
}

#services .card h3::after {
  position: absolute;
  content: "";
  right: 63%;
  bottom: -15px;
  width: 5%;
  height: 4px;
  border-radius: 1rem;
  background-color: var(--highlight-color);
}

#services .card p {
  line-height: 1.3;
}

#menu .card {
  position: relative;
  text-align: center;
}

#menu .card:hover img {
  transform: scale(1.5) rotate(15deg);
  transition: transform 0.3s ease-in-out;
}

#menu .card-image-holder {
  overflow: hidden;
}

#menu .name {
  position: absolute;
  left: -5px;
  bottom: -10px;
  padding: 1.2rem;
  background-color: var(--main-dark);
  box-shadow: 0 10px 20px #e9472750;
  animation: swap-border 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu .name h3 {
  color: #fff;
}

#menu .grid {
  row-gap: 2rem;
  column-gap: 1.5rem;
}

#menu .basic-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -10px;
  background-color: var(--main-color);
  box-shadow: 0 10px 20px #fe81396e;
}

#menu .basic-info span {
  font-weight: 800;
  color: #fff;
  font-size: 0.9rem;
}
#video-yt .video-holder {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

#video-yt .video-holder iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

footer {
  padding: 1.8rem 0;
  background-color: var(--main-dark);
}

footer h2,
footer h4,
footer h5 {
  color: #fff;
}

footer h5 {
  margin-top: 0.5rem;
}

footer .col-6:last-child {
  text-align: center;
}

footer .col-6:last-child h4 {
  margin-bottom: 1rem;
}

footer #form input {
  padding: 0.5rem 1rem;
  border: 0;
}

footer #form input[type="submit"] {
  padding: 0.5rem;
  border: 0;
  background-color: var(--highlight-color);
  color: #fff;
  box-shadow: 0 5px 20px #2e266f69;
}

@keyframes wave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes float-left {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes float-right {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swap-border {
  0% {
    border-radius: 0;
  }
  25% {
    border-radius: 0 2rem 0 2rem;
  }
  50% {
    border-radius: 2rem 0 2rem 0;
  }
  75% {
    border-radius: 0 2rem 0 2rem;
  }
  100% {
    border-radius: 0;
  }
}

@media (max-width: 767px) {
  #header .holder {
    flex-direction: column;
  }
  #header nav {
    margin-top: 1rem;
  }
  #about,
  #services {
    padding-bottom: 0;
  }
  #video-yt {
    padding-top: 0;
  }
  .grid .col-3,
  .grid .col-4,
  .grid .col-5,
  .grid .col-6,
  .grid .col-7 {
    grid-column: span 12;
  }
  footer .col-6:first-child {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #header .holder {
    flex-direction: column;
  }
  #header nav {
    margin-top: 1rem;
  }
  #landing,
  #about,
  #services {
    padding-bottom: 0;
  }
  #landing .col-7 {
    grid-column: span 12;
  }
  #landing .col-5 {
    display: none;
  }
  #about .col-5,
  #about .col-7 {
    grid-column: span 12;
  }
  .grid .col-3,
  .grid .col-4,
  .grid .col-5,
  .grid .col-6,
  .grid .col-7 {
    grid-column: span 6;
  }
  #showcase .showcase-item:not(:last-child) {
    border-right: none;
  }
  footer .col-6:first-child {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1140px) {
  .grid .col-3,
  .grid .col-5,
  .grid .col-6,
  .grid .col-7 {
    grid-column: span 6;
  }
  #landing .offer {
    top: 50px;
  }
  #landing .product-details {
    bottom: 50px;
  }
}
